


.titulo{
    font-size: 30px;
    margin-top: 200px;
    margin-left: 25%;
}

.navbar{
    background-color: rgb(73, 60, 49);
}

.cardSize{
    max-width: 150px;
    max-height: 300px;
}

.p-3{
    gap: 15px;
}

.card{
    align-items: center;
}

.stockText{
    font-size: 13px;
}

.card-body{
    padding: none;
}