


.titulo{
    font-size: 30px;
    margin-top: 200px;
    margin-left: 25%;
}

.navbar{
    background-color: rgb(73, 60, 49);
}

.cardSize{
    max-width: 150px;
    max-height: 300px;
}

.p-3{
    gap: 15px;
}

.card{
    align-items: center;
}

.stockText{
    font-size: 13px;
}

.card-body{
    padding: none;
}

.tamañoImg{
    max-width: 300px;
    height: auto;
}

.botonComprar{
    background-color: rgb(73, 60, 49);
}

.divContainerDetail{
    display: flex;
    align-items: center;
    padding: 30px;
}

.botonDetalle{
    background-color: rgb(73, 60, 49);
}

.divCards{
    display: flex;
    justify-content: center;
}